.but{
  width: 90%;
  margin-top: 50px;
  display:grid;
  padding: 10px;
  
  
}

.st-btn , a {
  padding-top:-2px;
  margin-top: 20px;
  font-size: 40px;
  font-weight:200;
  color: #007bff;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fafafa;
  cursor: pointer;

}

.start_btn  {
  border: solid 3px #005a5e;
  background: #0e0e10;
  border-radius: 40px;
  box-sizing: border-box;
  color: #ffffff;
  height: 70px;
  font-size: 1.4em;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  width: 90%;
  margin-top:250px;
  margin-left:30px;
  z-index: 2;
  position: relative;

}

#myButton {
  border: solid 3px #005a5e;
  background: #0e0e10;
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  height: 70px;
  font-size: 1.4em;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  width: 90%;
  margin-top:30px;
  margin-left:30px;
  z-index: 2;
  position: relative;

}

.start_btn:hover , #myButton:hover{
  background-image: linear-gradient(to right, #006175 0%, #005a5e 100%);
  border: solid 3px #0e0e10;
}



.info_box{
  width: 100%;
  background: #0d0d0df0;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  color: #fafafa;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz_box{
  width: 100%;
  background: #0d0d0df0;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}


.fa, .fas{

color: #005a5e;
}
